<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.wego.web.community.CommunityMapper">

	<select id="createCommunity" parameterType="hashmap">
		${CREATE_COMMUNITY}
	</select>
	<select id="createLike" parameterType="hashmap">
		${CREATE_LIKE}
	</select>
	<select id="createReply" parameterType="hashmap">
		${CREATE_REPLY}
	</select>
	
	<select id="dropCommunity" parameterType="map">
		${DROP_TABLE}
	</select>
	
	<select id="truncateCommunity" parameterType="hashmap">
		${TRUNCATE}
	</select>
	
		<select id="communitylist" parameterType="int" resultType="com.wego.web.community.Community"> 
		SELECT *
		FROM COMMUNITY
		ORDER BY ARTSEQ;
		
	</select>
	<select id="allcommunitylist"  resultType="com.wego.web.community.Community">
		SELECT * FROM COMMUNITY ORDER BY ARTSEQ DESC;
	</select>
    
    <insert id="insertCommunity" parameterType="com.wego.web.community.Community">
    	INSERT INTO COMMUNITY(ARTSEQ,UID,IMG,TITLE,CONTENT) VALUES
			(#{artseq},#{uid},#{img},#{title},#{content})
    </insert>
    <select id="countCommunity" resultType="int">
    	SELECT COUNT(*) FROM COMMUNITY 
    </select>
    <insert id="insertReply" parameterType="com.wego.web.community.Reply">
    	INSERT INTO REPLY 
		(RESEQ,RCOMMENTS,UID,ARTSEQ) VALUES (#{reseq},#{recomments},#{uid},#{artseq}) 
    </insert>
    
   <select id="getreply" parameterType="int" resultType="com.wego.web.community.Reply">
		SELECT * FROM COMMENT WHERE ARTSEQ LIKE #{artseq} 
	</select>
	
	<select id="selectbyuid" parameterType="com.wego.web.community.Community" resultType="string">
		SELECT MAX(ARTSEQ) FROM COMMUNITY WHERE UID LIKE #{uid} 
	</select>
	
	<insert id="insertIMG" parameterType="com.wego.web.community.Community">
    	UPDATE COMMUNITY SET IMG = #{img} WHERE ARTSEQ LIKE #{artseq}
    </insert>
    
</mapper>